{%extends "../base/base.html" %}

{% block title %}
<title>書籍介面</title>
{% endblock %}

{% block content %}
<br>
    <br>
    <br>
    <button onclick="window.location.href='{% url 'Book' %}'">回書籍查詢</button>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ form }}
                {% if edit == 1 %}
                    <hr class="mb-3">
                    <button onclick="window.location.href='/'">新增</button>
                {% elif edit == 3 %}
                    <hr class="mb-3">
                    {% if book.status.code_id == 'B' %}
                        <button onclick="alert('已借出無法刪除');">刪除</button>
                    {% else %}
                        <button onclick="confirm('是否刪除' + '{{book.name}}' + '？') ? alert('刪除成功') : alert('已取消');">刪除</button>
                    {% endif %}
                    <button onclick="window.location.href='{% url 'detail' pk %}'">存檔</button>
                {% elif edit == 2 %}
                    <hr class="mb-3">
                    <button onclick="window.location.href='{% url 'edit' pk %}'">修改</button>
                {% endif %}
                
            </div>
        </div>
    </form>

{% endblock %}