{%extends "../base/base.html" %}

{% block title %}
<title>書籍介面</title>
{% endblock %}

{% block content %}
<br>
    <br>
    <br>
    <button onclick="window.location.href='/'">回書籍查詢</button>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ form }}
                <hr class="mb-3">
                <button onclick="linktodelete({{ book.id }})">刪除</button>
                <button onclick="linktodetail({{ book.id }})">存檔</button>
            </div>
        </div>
    </form>

    <script>
        function linktorecord(bookId) {
            window.location.href = '/lend_record/' + bookId;
        }
        function linktodetail(bookId) {
            window.location.href = '/detail/' + bookId;
        }
        function linktodelete(bookId) {
            window.location.href = '/delete/' + bookId;
        }
    </script>

{% endblock %}