{%extends "../base/base.html" %}

{% block title %}
<title>借閱紀錄</title>
{% endblock %}

{% block content %}
    <h1>借閱紀錄</h1>
    <button onclick="window.location.href='/'">回書籍查詢</button>
    <table border = "1" cellpadding = "0" cellspacing = "0">
        <th>借閱日期</th>
        <th>借閱人編號</th>
        <th>借閱人姓名</th>
        {% for record in records %}
        <tr>
            <td>{{ record.borrow_date|date:"Y/m/d" }}</td>
            <td>{{ record.borrower_id }}</td>
            <td>{{ record.borrower }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}