{%extends "../base/base.html" %}

{% block title %}
<title>書籍查詢頁面</title>
{% endblock %}

{% block content %}
    <h1>書籍查詢</h1>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ form }}
                <hr class="mb-3">
                <button type="button" onclick="submitForm()">查詢</button>
                <button type="button" onclick="clearForm()">清除</button>
                <button type="button" onclick="window.location.href='/create/'">新增</button>
            </div>
        </div>
    </form>

    <table border = "1" cellpadding = "0" cellspacing = "0">
        <th>書籍類別</th>
        <th>書名</th>
        <th>出版日期</th>
        <th>借閱狀態</th>
        <th>借閱人</th>
        <th>操作</th>
        {% for book in books %}
        <tr>
            <td>{{ book.category_name }}</td>
            <td><a href="{% url 'detail' book.id %}">{{ book.name }}</td>
            <td>{{ book.publish_date|date:"Y/m/d" }}</td>
            <td>{{ book.status_name }}</td>
            <td>{{ book.keeper_name }}</td>
            <td>
                <button onclick="window.location.href='{% url 'lend_record' book.id %}'">借閱紀錄</button>
                <button onclick="window.location.href='{% url 'edit' book.id %}'">編輯</button>
                {% if book.status_name == '已借出' %}
                    <button onclick="alert('已借出無法刪除');">刪除</button>
                {% else %}
                    <button onclick="confirm('是否刪除' + '{{book.name}}' + '？') ? alert('刪除成功') : alert('已取消');">刪除</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <script>
        function submitForm() {
            document.querySelector('form').submit();
        }
        function clearForm() {
            document.querySelector('form').reset();
        }
    </script>
{% endblock %}